/* ToggleSwitch.css */

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc; 
  transition: .4s;
  border-radius: 34px;
}

/* .toggle-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
} */

input:checked + .toggle-slider {
  background-color: #2196f3;
}

input:checked + .toggle-slider:before {
  transform: translateX(26px);
}

.toggle-switch input:checked + .toggle-slider::before {
  background-color: white; 
}
/* .icon {
  position: absolute;
  top: 50%; 
  transform: translateY(-50%);
  left: 8px; 
  transition: 0.4s;
} */
input:checked + .toggle-slider .icon {
  left: 35px;
  transition: left 0.4s;
}
.thumb {
  position: absolute;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

