/* ToggleSwitch.css */

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .toggle-switch-checkbox {
    display: none;
  }
  
  .toggle-switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
  }
  
  .toggle-switch-slider:before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  .toggle-switch-checkbox:checked + .toggle-switch-slider {
    background-color: #2196F3;
  }
  
  .toggle-switch-checkbox:checked + .toggle-switch-slider:before {
    transform: translateX(26px);
  }
  